html {
  overflow: hidden;
}

.carousel-frame {
//  background: #fafafa;
  padding: 0px;
//  border-radius: 3px;
//  border: 1px solid #ddd;
  width: 100vw;

/*  .level {
    border-bottom: 4px solid #363636;
    padding-bottom: 8px;
  } */
  .scroll-item > .level {
    padding: 0 10px;
  }
  @supports (-webkit-filter: blur(0)) and (not (-moz-transform: translate(0,0))) {
    .scroll-item > .level {
      padding-right: 18px;
    }
  }
  .level .title {
    box-shadow: inset 0px -6px 0px #858177;
    line-height: 1;
//    border-bottom: 4px solid lighten($beige-dark, 25%);
  }
}

.scroll {
  display: flex;
//  align-items: top;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  height: calc(100vh - 64px);
}

ul.scroll {
  margin: 0;
  list-style-type: none;
}

.scroll-item {
  flex: 0 0 48vw;
  @media (min-width: 1000px) {
    flex: 0 0 32vw;
  }
  @media (min-width: 1600px) {
    flex: 0 0 24vw;
  }
  height: 100%;
  position: relative;
  .vertical-scroll {
    position: absolute;
    top: 3rem;
    right: 0;
    bottom: 2px;
    left: 0;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 20vh;
    overflow-y: auto;
  }
}

.vertical-scroll::-webkit-scrollbar {
  width: 8px;
  height: auto;
  background-color: lighten($body-background-color, 10%);
  border-radius: 4px;
}

/* Add a thumb */
.vertical-scroll::-webkit-scrollbar-thumb {
  background-color: darken($body-background-color, 15%);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

@media (max-width: 600px) {
  .scroll-item {
    flex: 0 0 99vw;
  }
}

img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.scroll-item .card {
  margin-bottom: 15px;
}
.card time {
  color: $green;
  font-size: 0.85em;
}

.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  word-break: break-word;

  &.tagged-draft {
    border-top: 10px solid $orange;
  }
  &.tagged-queued {
    border-top: 10px solid lighten($blue, 20%);
  }
  &.tagged-published {
    border-top: 10px solid $green;
  }
  &.dimmed {
    opacity: 0.4;
    pointer-events: none;
  }

  .card-image {
    border-bottom: $card-header-border-bottom;
  }
}

@supports (scroll-snap-align: start) {
  /* modern scroll snap points */
  .scroll {
    scroll-snap-type: x mandatory;
  }
  .scroll-item {
    scroll-snap-align: center;
  }
}

.carousel-frame {
  margin-top: 4em;
}