<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="navbar-item"><%= image_tag 'yarii_editor/butterfly-small.png', alt: 'Yarii' %> Yarii</h1>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" onclick="document.querySelectorAll('.navbar .navbar-burger, #navMenu').forEach((item) => {item.classList.toggle('is-active')})">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item">Legend:</div>
      <div class="navbar-item"><span class="tag is-primary">Draft</span></div>
      <div class="navbar-item"><span class="tag is-info">Queued</span></div>
      <div class="navbar-item"><span class="tag is-success">Public</span></div>
      
      <div id="publishing-menu" class="navbar-item has-dropdown is-hoverable">
        <%= render 'yarii_editor/shared/publishing_menu' %>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="javascript:void(0);" class="navbar-link">
          <span style="font-weight:bold"><%= current_site.title %></span>
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a href="javascript:alert('To Be Implemented…')" class="navbar-item">
            Site Settings
          </a>
          <hr class="navbar-divider" />
          <%= link_to "Sign Out", main_app.signout_path, class: "navbar-item", method: :delete %>
        </div>
      </div>
    </div>
  </div>
</nav>
