<% schema = current_site.content_types.schema_for_type(content_item_type) -%>
<header class="card-header">
  <p class="card-header-title">
    <%= model.send(schema.fetch(:card_title_field, :title)) || model.url %>
  </p>
</header>
<div class="card-content">
  <div class="content">
    <p><%= model.send(schema.fetch(:card_description_field, :description)) || model.url %></p>
    <p class="has-text-right">
      <small class="has-text-primary"><%= Base64::decode64 model.id %></small>
    </p>
  </div>
</div>
<footer class="card-footer">
  <%= render 'yarii_editor/model_cards/standard_footer_buttons', model: model, content_item_type: content_item_type %>
</footer>
