<div data-controller="card" id="<%= content_model_type %>-<%= model.id %>" class="card <%= 'tagged-' + ['draft', 'queued', 'published'].sample %>">
  <%= render 'yarii_editor/model_cards/' + model_class.name.underscore, model: model, content_model_type: content_model_type %>
</div>