@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: normal;
  src: url('FiraGO/FiraGO-Book.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: normal;
  src: url('FiraGO/FiraGO-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: bold;
  src: url('FiraGO/FiraGO-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: bold;
  src: url('FiraGO/FiraGO-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: normal;
  font-weight: 800;
  src: url('FiraGO/FiraGO-Bold.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 800;
  src: url('FiraGO/FiraGO-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'FiraGO';
  font-style: italic;
  font-weight: 900;
  src: url('FiraGO/FiraGO-HeavyItalic.woff') format('woff');
}
